[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
channels = "*"
channels_redis = "*"
django = "*"
djangorestframework = "*"
graphene_django = "*"
numpy = "*"
python-decouple = "*"
python-dotenv = "*"
pyjwt = "*"
coveralls = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-mock = "*"
psycopg2-binary = "*"
dj_database_url = "*"
dj-redis-url = "*"
django-webpack-loader  = "*"
django-q = "*"
invoke = "*"
flake8 = "*"
autopep8 = "*"
pytz = "*"
faker = "*"
termcolor = "*"
redis = "*"
jinja2 = "*"
premailer = "*"
graphene-subscriptions = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.6.5"
