[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
graphene_django = "*"
numpy = "*"
python-decouple = "*"
python-dotenv = "*"
pyjwt = "*"
coveralls = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-mock = "*"
psycopg2-binary = "*"
dj_database_url = "*"
django-webpack-loader  = "*"
invoke = "*"
flake8 = "*"
autopep8 = "*"

[dev-packages]

[requires]
python_version = "3.6.5"
