$lightGray: #9e9e9e

.default-linear-input
  display: flex
  width: 100%
  height: 60px

  >*
    display: flex
    align-items: center
    width: 50%
    font-size: 14px
    border: none
    border-bottom: 1px solid $lightGray

    &:focus
      outline: none

  label
    text-transform: capitalize
    color: $lightGray

.default-stacked-input
  display: flex
  flex-wrap: wrap
  width: 100%
  height: 60px
  margin-bottom: 20px

  >*
    display: flex
    flex-basis: 100%
    align-items: center
    font-size: 14px
    border: none


    &:focus
      outline: none

  label
    text-transform: capitalize
    color: $lightGray

  input
    padding: 5px
    border: 1px solid $lightGray
