// ************************ imports ****************************
@import "commons/common"

// *********************** styles ******************************
*
  margin: 0
  padding: 0
  box-sizing: border-box

html, body
  height: 100%
  overflow-x: hidden

img
  height: 100%

body
  min-height: 100vh
  flex-direction: column
  font-size: $baseFontSize
  padding: 0
  margin: 0


.navbar-container-404
  @include navbar-container($height: 2.8rem)

.content-container-404
  background: url("../images/astronaut-black.jpg") no-repeat center center fixed
  background-size: cover
  overflow: hidden
  height: $screenHeight - ( 0.04 * $screenHeight)
  color: white
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  &__main
    font-size: 20rem
    line-height: 15rem

  &__sub
    font-size: 1.5rem


.main-footer
  @include footer

.footer-404
  @include footer($bgColor: black, $marginTop: 0)
