@import 'colors'

@mixin tri-before
  content: ' '
  position: absolute
  width: 0
  height: 0
  border: 32px solid
  border-color: #666 transparent transparent transparent

@mixin tri-after
  content: ' '
  position: absolute
  width: 0
  height: 0
  border: 15px solid
  //border-color: lightyellow transparent transparent transparent
  border-color: $thickBlue transparent transparent transparent

//Chat wrapper to enable floating left or right
.msg-wrapper-left
  display: flex

.msg-wrapper-right
  display: flex
  justify-content: flex-end

/* CSS talk bubble */
.talk-bubble
  margin: 5px 20px
  display: inline-block
  position: relative
  max-width: 70%
  height: auto
  color: white
  //background-color: lightyellow
  background-color: $thickBlue

.border
  border: 8px solid #666
  border: 8px solid $thickBlue

.round
  border-radius: 10px
  -webkit-border-radius: 10px
  -moz-border-radius: 10px


/* Right triangle placed top left flush. */
.tri-right.border.left-top:before
  @include tri-before
  left: -40px
  right: auto
  top: -8px
  bottom: auto

.tri-right.left-top:after
  @include tri-after
  left: -10px
  right: auto
  top: 0px
  bottom: auto


/* Right triangle, left side slightly down */
.tri-right.border.left-in:before
  @include tri-before
  left: -40px
  right: auto
  top: 30px
  bottom: auto

.tri-right.left-in:after
  @include tri-after
  left: -10px
  right: auto
  top: 20px
  bottom: auto

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before
  @include tri-before
  left: -8px
  right: auto
  top: auto
  bottom: -40px

.tri-right.btm-left:after
  @include tri-after
  left: 0px
  right: auto
  top: auto
  bottom: -20px

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before
  @include tri-before
  left: 10%
  right: auto
  top: auto
  bottom: -40px

.tri-right.btm-left-in:after
  @include tri-after
  left: 10%
  right: auto
  top: auto
  bottom: -20px

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before
  @include tri-before
  left: auto
  right: 10%
  bottom: -40px

.tri-right.btm-right-in:after
  @include tri-after
  left: auto
  right: 10%
  bottom: -20px

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before
  @include tri-before
  left: auto
  right: -8px
  bottom: -40px

.tri-right.btm-right:after
  @include tri-after
  left: auto
  right: 0px
  bottom: -20px

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before
  @include tri-before
  left: auto
  right: -40px
  top: 30px
  bottom: auto

.tri-right.right-in:after
  @include tri-after
  left: auto
  right: -10px
  top: 10%
  bottom: auto
  content: ' '

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before
  @include tri-before
  left: auto
  right: -40px
  top: 8%
  bottom: auto

.tri-right.right-top:after
  @include tri-after
  left: auto
  right: -10px
  top: 0px
  bottom: auto

/* talk bubble contents */
.talktext
  padding: 1em
  text-align: left
  line-height: 1.5em

  p
    -webkit-margin-before: 0em
    -webkit-margin-after: 0em
