@import "./common"

.signup-container, .signin-container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 30vw
  min-height: 80vh
  margin: 5vh auto
  padding: 2rem 0
  background-color: #f1f1f1
  border: 1px solid #f1f1f1

  >*
    width: 70%

  &__title
    display: flex
    align-items: center
    text-transform: capitalize
    font-size: 2rem
    margin-bottom: 10px

  &__input_container
    margin: 5px auto

  &__input
    width: 100%
    margin: 0 auto

  &__button_container
    margin: 1rem auto

  &__button
    width: 100%

  &__link_container
    font-size: 1.1rem

.profile
  display: flex
  justify-content: center
  align-items: stretch
  margin: 10px 0
  min-height: ($minContentHeight + 800px)

  &__card
    width: 210px
    height: 100%
    background-color: inherit

  &__title-wrapper
    background-color: $thickBlue
    border: 1px solid $thickBlue

  &__media
    height: 140px

  &__content
    display: flex
    justify-content: center
    max-width: 700px
    background-color: #f1f1f1
    padding: 4% 0
    //background-color: #f8f8f8

    >*
      width: 80%

  &__avatar
    display: flex
    align-items: center
    justify-content: center
    border-bottom: 1px solid #919496
    padding: 5px

    &__avatar
      width: 100px
      height: 100px
